@import './variables.scss';
@import './normalize.scss';

body {
   width: 100vw;
   min-width: 560px;
   font-family: var(--font-family);
   font-size: var(--font-s-text-default);
   font-weight: var(--font-w-default);
   line-height: var(--line-h-default);
   color: var(--text-color);
   background-color: var(--background-color);
   overflow-x: hidden;
   &::-webkit-scrollbar {
      width: 8px;
      cursor: pointer;
   }
   &::-webkit-scrollbar-thumb {
      border-radius: var(--radius-default);
      background: rgb(var(--color-primary));
   }
}

#root {
   width: 100%;
   height: 100%;
}

.preloader {
   flex-basis: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   width: 100%;
   max-width: 1232px;
   margin: 0 auto;
   padding: 0 16px;
}

.swiper-pagination-bullet {
   background: var(--swiper-pagination-background-color);
}
.swiper-pagination-bullet-active {
   background: rgb(var(--color-primary));
}

.title {
   color: var(--title-color);
}
