.bookPreview {
   width: 238px;
   position: relative;
   overflow: hidden;
   &__image {
      max-width: 238px;
   }
   &__title,
   &__subtitle {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   &__title {
      font-size: var(--font-s-title-default);
   }
   &__subtitle {
      font-size: 12px;
   }
   &__price {
      font-size: var(--font-s-title-large);
      color: rgb(var(--color-accent));
   }
   &__popup {
      width: 238px;
      height: 170px;
      margin: 0 auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      position: absolute;
      bottom: -100%;
      background-color: rgb(var(--color-light));
      overflow: hidden;
      transition: 0.4s ease;
   }
   &__button {
      align-self: flex-end;
   }
   @media (any-hover: hover) {
      &:hover {
         .bookPreview__popup {
            bottom: 0;
         }
      }
   }
}
