.list {
   display: flex;
   gap: 40px;
   &__link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: rgb(var(--color-accent));
      transition: width ease-in-out 0.2s;
   }
   &__link {
      padding-bottom: 10px;
      text-transform: capitalize;
      position: relative;
      transition: color ease-in-out 0.2s;
      .list &_active {
         color: rgb(var(--color-accent));
      }
      &_active::after {
         width: 100%;
      }
   }
   @media (any-hover: hover) {
      &__link:hover {
         color: rgb(var(--color-accent));
         &::after {
            width: 100%;
         }
      }
   }
   @media (min-width: 1024px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}
