.information {
   flex-direction: column;
   &,
   &__header {
      display: flex;
      gap: 40px;
   }
   &__header {
      justify-content: space-between;
   }
   &__authors {
      padding: 20px 20px 30px;
      align-self: start;
      flex: 0 0 300px;
      background-color: var(--background-navigation-color);
      border-radius: var(--radius-default);
   }
}
