.footerColumns {
   &__title {
      margin-bottom: 10px;
      color: var(--title-color);
   }
   &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 10px;
   }
   @media (any-hover: hover) {
      &__item {
         & a:hover {
            color: rgb(var(--color-primary));
         }
      }
   }
}
