.myButton {
   padding: 10px 16px;
   color: var(--text-color);
   border: 1px solid var(--border-color);
   border-radius: var(--radius-default);
   transition: all ease-in-out 0.2s;
   @media (any-hover: hover) {
      &:hover {
         color: rgb(var(--color-primary));
         border-color: rgb(var(--color-primary));
      }
   }
}
