.fallback {
   &,
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__body {
      gap: 10px;
   }
   &__image {
      width: 100%;
      max-width: 300px;
      max-height: 300px;
      fill: rgb(var(--color-accent));
   }
   &__title {
      font-size: var(--font-s-title-large);
   }
   & &__link {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(var(--color-light));
      background-color: rgb(var(--color-accent));
      border-radius: var(--radius-default);
      transition: background-color ease 0.2s;
   }
   @media (any-hover: hover) {
      &__link:hover {
         background-color: rgba(var(--color-accent), 0.8);
      }
   }
}
