.aboutCard{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    &__img{
        width: 250px;
        &__image{
            max-width: 250px;
            max-height: 250px;
            object-fit: contain;
            border-radius: 6px;
        }
    }
    &__info, .socials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgba(var(--color-gray), 0.9);
        &__text{
            width: 250px;
            font-size: var(--font-s-title-default);
            &__span{
                color: rgba(var(--color-gray), 0.6);
            }
        }
        
    }
    
}
.socials{
    gap: 8px;
    &__icon {
        width: 24px;
        height: 24px;
        fill: rgba(var(--color-gray), 0.8);
    }
    &__link{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: rgba(var(--color-gray), 0.8);
    }   
    &__link:hover {
        color: rgb(var(--color-primary));
        .socials__icon {
            fill: rgb(var(--color-primary));
        }
    }
}
.line {
    margin: 10px 0;
    width: 100%;
    border: 1px solid rgba(var(--color-gray), 0.4);
}