.cartButton {
   position: relative;
   &__wrapper {
      position: relative;
   }
   &__icon {
      width: 30px;
      height: 30px;
      fill: var(--text-color);
      transition: fill ease-in-out 0.2s;
   }
   &__count {
      padding: 2px;
      min-width: 16px;
      height: 16px;
      position: absolute;
      top: -10%;
      right: -20%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: rgb(var(--color-light));
      background-color: rgb(var(--color-accent));
      border-radius: var(--radius-default);
   }
   &__dropdown {
      display: none;
   }
   @media (any-hover: hover) {
      &:hover {
         .cartButton__icon {
            fill: rgb(var(--color-primary));
         }
         .cartButton__dropdown {
            padding-top: 20px;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            color: var(--text-color);
            transform: translateX(-50%) translateY(calc(100%));
            z-index: 10;
         }
      }
   }
}
