.cartPreviewItem {
   display: flex;
   gap: 6px;
   &__image {
      width: 94px;
      height: 110px;
   }
   &__content {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   &__title {
      font-weight: var(--font-w-bold);
   }
   &__text {
      display: flex;
      gap: 6px;
   }
   &__price {
      color: rgb(var(--color-accent));
   }
}
