.layout {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   &__navigation {
      @media (width >= 1024px) {
         position: sticky;
         top: 0;
         left: 0;
         z-index: 10;
      }
   }
   &__main {
      padding: 20px 0;
      display: flex;
      align-items: center;
      flex: 1 1 auto;
   }
   &__theme {
      position: fixed;
      bottom: 40px;
      right: 40px;
      z-index: 100;
   }
}
