.layout {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   &__main {
      flex: 1 1 auto;
   }
   &__preloader {
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__theme {
      position: fixed;
      bottom: 40px;
      right: 40px;
      z-index: 100;
   }
}
