.header {
   display: flex;
   flex-direction: column;
   gap: 16px;
   &__top,
   &__bottom {
      height: 54px;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__search,
   &__field,
   &__cart,
   &__button {
      height: 100%;
   }
   &__search {
      flex: 0 1 800px;
   }
   &__field {
      width: 100%;
   }
   &__burger {
      flex: 0 0 40px;
   }
}
