.slider {
   &Info {
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;
   }
   &__wrapper {
      height: 400px;
   }
}

.preloader {
   height: 340px;
   display: flex;
   align-items: center;
   justify-content: center;
}
