.footer {
   padding: 40px 0;
   background-color: var(--background-navigation-color);
   &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
   }
}
