.footer {
    padding: 40px 0;
    background-color: rgba(var(--color-gray), 0.06);
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}