.description {
   display: flex;
   flex-direction: column;
   gap: 20px;
   &__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: rgb(var(--color-gray));
   }
   &__link {
      padding: 10px 14px;
      display: flex;
      align-self: start;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(var(--color-gray), 0.4);
      border-radius: var(--radius-default);
      transition: all ease-in-out .2s;
   }
   @media (any-hover: hover) {
      &__link:hover {
         color: rgb(var(--color-primary));
         border-color: rgb(var(--color-primary));
      }
   }
}
