.book {
   display: flex;
   align-items: start;
   gap: 40px;
   &__image {
      height: 400px;
   }
   &__body {
      display: flex;
      flex-direction: column;
      gap: 35px;
   }
   &__block {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   &__title {
      font-size: 30px;
   }
   &__subtitle {
      font-size: 24px;
   }
   &__authors {
      font-size: 20px;
      display: flex;
      color: rgb(var(--color-primary));
      gap: 8px;
   }
   &__info {
      text-transform: capitalize;
   }
   &__price {
      padding: 15px 30px;
      align-self: start;
      font-size: 20px;
      border: 1px solid var(--border-color);
      border-radius: var(--radius-default);
   }
   &__value {
      color: rgb(var(--color-accent));
   }
   @media (width <= 1024px) {
      flex-direction: column;
      align-items: center;
   }
}
